.courses-container{
    background:linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)),url('../../assets//stanford-oval.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
}